/* Lager animasjon som gjør at den starter på -70000%, og beveger seg til venstre */

@keyframes slideright {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0%;
  }
}

#desert {
    /* Position: absolute; sammen med bottom:0; legger den til helt nederst av den synlige skjermen din når du først laster siden inn, uavhengig av andre elementer på siden */
  background-image: url("T-Rex-horizon.png");
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  animation: slideright 600s infinite linear;
}

.dino {
  background-image: url("T-Rex_Run.png");
  height: 85px;
  width: 85px;
  position: absolute;
  bottom: 0;
}

.obstacle {
  background-image: url("1_Cactus.png");
  height: 105px;
  width: 50px;
  bottom: 0;
  position: absolute;
}